/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

/* reset & common styles */
body,
ul,
h1,
h2,
h3,
p,
button,
a,
div {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Syne Mono", monospace;
  /* letter-spacing: 2px; */
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
p {
  line-height: 1.7rem;
}
body {
  background: #202731;
  background: radial-gradient(circle, #202731 0%, #1f242e 100%);
  /* overflow: hidden; */
}
button {
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 2rem;
  border: 1px solid white;
  margin: 1rem auto 0;
  cursor: pointer;
  opacity: 0.7;
}
.container {
  /* max-width: 500px; */
  margin: 1rem;
  z-index: 100;
}
.container h3 {
  padding-bottom: 1rem;
  text-align: right;
  margin-bottom: 1rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}
.container li {
  /* padding: 1rem; */
  cursor: pointer;
}

section.split-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
}
@media (max-width: 800px){
  section.split-section {
    grid-template-columns: 1fr;
  }
  section.split-section > div:first-of-type {
    grid-column: 2;
  }
  section.split-section > div:nth-child(2) {
    grid-column: 1;
  }
}


/* lists */
li span.active {
  font-weight: bold;
  color: #f8e112;
}
li span.active::before {
  content: ">";
  position: relative;
  top: -2px;
  margin-right: 6px;
  transform: scale(0.8, 1);
  display: inline-block;
}

/* pages */
.home h3 {
  font-size: 2em;
  margin-bottom: 30px;
  /* position: fixed;
  top: 0;
  right: 0;
  z-index: 100; */
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal {
  max-width: 440px;
  margin: 0 auto;
  /* height: 500px; */
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}
.modal button {
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
}
.modal p {
  color: #444;
  font-weight: bold;
}
.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #fff;
}
